<!DOCTYPE html>

<html>
<head>
    <title>Lions-Club 3 Hasen - Eventverwaltung</title>
</head>
<body>
<div>
    <div class="alert alert-info">Vielen Dank für Ihre Rückmeldung zum Event.</div>
</div>
</body>
</html>