@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event Management System</h1>
    <p class="lead">
        Das Event Management System f&uuml;r den Lions Club Drei Hasen befindet sich zur Zeit in Entwicklung.
        Es wird eine Verwaltung der Zu- bzw. Absagen zu Events mit automatischem E-Mailversand entwickelt.
        Die Entwicklung ist OpenSource.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Funktionen</h2>
        <p>
            Eine Liste mit den bereits implementierten Funktionen.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Entwicklungsstand</h2>
        <p>Eine &Uuml;bersicht der geplanten Funktionen.</p>
    </div>
    <div class="col-md-4">
        <h2>Credits</h2>
        <p>Das System wird im Rahmen einer Masterarbeit entwickelt.</p>
    </div>
</div>